@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: 'Circular Std';
  font-weight: 450;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Whitney-Light/Whitney-Light.woff") format("woff"), url("../fonts/Whitney-Light/Whitney-Light.eot") format("eot"), url("../fonts/Whitney-Light/Whitney-Light.ttf") format("ttf");
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #112D57), color-stop(50%, #48c6f0f1), to(#FFFFFF));
  background: linear-gradient(to bottom, #112D57 5%, #48c6f0f1 50%, #FFFFFF);
  min-height: 100vh;
  border: 1px solid pink;
}

img {
  min-width: 20px;
  min-height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 850px) {
  img {
    min-width: 10px;
    min-height: 10px;
  }
}

button {
  height: 26px;
  width: 6vw;
  padding: 4px;
  margin: 0 auto;
  border-radius: 85px;
  font-size: 14px;
  letter-spacing: 0.2px;
  background-color: #FFFFFF;
  color: #112D57;
}

@media (max-width: 850px) {
  button {
    font-size: 12px;
    width: 10vw;
  }
}

.main {
  opacity: 0.9;
  background: #FFFFFF;
  width: 62vw;
  height: 90vh;
  margin: 5vh 19vw;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: italic;
  -webkit-box-shadow: 0 0 1em black;
          box-shadow: 0 0 1em black;
  font-size: 22px;
  font-style: italic;
}

@media (max-width: 850px) {
  .main {
    font-size: 16px;
  }
}

.main .header {
  background-color: #FFFFFF;
  color: #112D57;
  margin: 5%;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

@media (max-width: 850px) {
  .main .header {
    font-size: 28px;
  }
}

.main #addTaskBtn {
  height: 40px;
  width: 22vw;
  padding: 6px;
  margin: 0 auto;
  font-size: 20px;
  background-color: #48c6f0f1;
  color: #FFFFFF;
  text-shadow: 1px 1px 5px #112D57;
}

@media (max-width: 850px) {
  .main #addTaskBtn {
    font-size: 16px;
  }
}

.main .modal {
  position: fixed;
  width: 34vmin;
  height: 34vmin;
  left: calc(50% - 17vmin);
  top: calc(50% - 17vmin + 5vmin);
  background-color: #48c6f0f1;
  -webkit-box-shadow: 6px -6px 1px #112D57;
          box-shadow: 6px -6px 1px #112D57;
  opacity: 0.95;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  -ms-grid-columns: 1fr 10fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 10fr 1fr;
      grid-template-areas: ". inputTask inputTask ." ". addBtnSaveBtn cancelBtn .";
  grid-column-gap: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .main .modal {
    width: 55vmin;
    height: 55vmin;
    left: calc(50% - 30vmin);
    top: calc(50% - 30vmin + 5vmin);
  }
}

.main .modal #inputTask {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: inputTask;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-top: 15%;
  padding-top: 5%;
  font-style: italic;
  opacity: 0.9;
  background-color: #48c6f0f1;
  text-align: start;
  font-size: 20px;
  resize: none;
}

.main .modal #addBtn {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: addBtnSaveBtn;
}

.main .modal #saveBtn {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: addBtnSaveBtn;
}

.main .modal #cancelBtn {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cancelBtn;
}

.main #taskList {
  width: 90%;
  margin: 10% auto;
  padding-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: white;
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.main #taskList .taskItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25%;
      grid-template-columns: 1fr 25%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: 1px dotted grey;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.main #taskList .taskItem .taskItemText {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8% 1fr;
      grid-template-columns: 8% 1fr;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  text-align: start;
}

.main #taskList .taskItem .taskItemText::before {
  content: "\27A4";
  color: #182333;
}

@media (max-width: 850px) {
  .main #taskList .taskItem .taskItemText {
    line-height: 25px;
  }
}

.main #taskList .taskItem .taskItemBtn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #182333;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main #taskList .taskItem .taskItemBtn .checkBtn, .main #taskList .taskItem .taskItemBtn .editBtn, .main #taskList .taskItem .taskItemBtn .deleteBtn {
  height: 20px;
  width: 20px;
  background: none;
  padding: 0;
  opacity: 0.3;
}

@media (max-width: 850px) {
  .main #taskList .taskItem .taskItemBtn .checkBtn, .main #taskList .taskItem .taskItemBtn .editBtn, .main #taskList .taskItem .taskItemBtn .deleteBtn {
    width: 10px;
    height: 10px;
  }
}

.done {
  text-decoration: line-through;
  color: grey;
}

.modal.display-none {
  display: none;
}

#addBtn.display-none {
  display: none;
}

#saveBtn.display-none {
  display: none;
}
/*# sourceMappingURL=main.css.map */